/* -------------------------google font ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* --------------------------Common Utilities ---------------------------*/
body {
  font-family: "Poppins", sans-serif;
}

/* ---------------------Customization section -------------------------- */
.margin-top {
  margin-top: 40px;
}
.bold {
  font-weight: 700;
}

.reduce-margin {
  margin-top: -5px;
}
.half-width {
  background: #222436;
  padding: 30px;
  text-align: center;
  display: none;
}
.generate-btn {
  margin-top: 20px;
  width: 180px;
  padding: 50px;
  border-radius: 50%;
  border: 8px solid #39458c;
  background-color: #495bc3;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.generate-btn:focus {
  outline: none;
  box-shadow: none;
}
.bold-line {
  border: 3px solid blue;
  border-radius: 5px;
}

.button-style {
  border-radius: 6px;
  padding: 7px;
}
.button-style:hover {
  background-color: cornflowerblue;
  color: white;
}
.custom {
  display: none;
}
/* --------------------End---------------------- */ ;
